/**
 * This is the main app css
 *
 * @author Tobias Høegh <tobias@tujo.no>
 */

/** status messages */
.pg-status-message {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}
.pg-status-message.error p {
    padding: 20px 30px;
    background-color: #eee;
}
.pg-status-message.loading p {
    padding: 20px 30px;
    color: #aaa;
}
.pg-noting-related p {
    font-size: 16px;
    font-weight: 100;
    color: #eee;
}

body {
    background-color: #ddd;
}
.pg-app {
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.pg-app-inner {
    overflow: hidden;
    margin: 40px 0;
    padding: 10% 10%;
    width: 60%;
    height: 100%;
    background-color: #eee;
    border-radius: 10px;
}

.pg-page {
    overflow: hidden;
    // height: 100vh;
}
.pg-page h1 {
    font-size: 40px;
    padding: 10px 0 0;
}

.pg-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 -8%;
}
.pg-toolbar-view {
    // display: flex;
    // align-items: center;
    // justify-content: flex-start;
}
.pg-toolbar-info {
    // display: flex;
    // align-items: center;
    // justify-content: flex-end;
    vertical-align: middle;
    padding: 0 0 0 20px;
    color: #666;
    font-size: 12px;
}
.pg-toolbar-info {
    font-weight: 200;
}
button.pg-toolbar-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;

    background-color: #c0c0c0;
    border-radius: 20px;
    // border-color: #ccc;
    // border-width: 4px;
    border: none;

    text-align: center;
    text-decoration: none;

    opacity: 1;
    transition: all 400ms ease;
    // font-size: 10px;
    // color: #ccc;
}
button.pg-toolbar-arrow:not(:disabled):hover {
    opacity: 0.8;
}
button.pg-toolbar-arrow:disabled {
    opacity: .5;
    transition: opacity 1s ease;
}
button.pg-toolbar-arrow:not(:disabled).pressed {
    opacity: 1;
    background-color: #999;
    transition: background-color 200ms ease;
}
.pg-toolbar-arrow img {
    width: 15px;
    height: 15px;
    vertical-align: top;
}
.pg-toolbar-arrow.arrow-left img {
    padding: 1px 3px 0 0;
}
.pg-toolbar-arrow.arrow-right img {
    padding: 1px 0 0 2px;
}

.pg-related-titles {
    // padding: 5px 0 0;
    font-size: 16px;
    // text-align: left;
}
.pg-related-titles h2 {
    font-size: 18px;
    opacity: 0.6;
}
.pg-related-titles ul {
    padding: 0;
}
.pg-related-titles ul li {
    list-style-type: none;
}
// .pg-related-titles ul li p {
//     color: #eee;
// }

// @media all and (max-width: 600px) {
// }

@media all and (max-width: 400px) {
    .pg-page h1 {
        font-size: 30px;
    }
    .pg-app-inner {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}
